* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    display: flex;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);

}

.nav-logo {
    width: auto;
    height: 50px;
    padding: 5px;
}