* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

.nav-logo {
    width: 40px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    height: 77px;
    background-color: purple;
    top: 0;
    position: relative;
    color: white;
    align-items: center;
}