* {
    box-sizing: border-box;
}

.didact-gothic-regular {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Didact Gothic", sans-serif;

}

/* Nav Bar Setting CSS */

.nav-main-div {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    position: relative;
    background-color: rgb(255, 89, 89);
    height: 71px;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.nav-logo {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.nav-text {
    font-size: large;
    color: white;
}

/* Card Design CSS */
.card {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0px 4.98256px 8.4564px rgba(255, 118, 118, 0.548);
}

.card-img {
    width: 125px;
    height: 185px;
    object-fit: cover;
    border-radius: 5px;
}

.card-location {
    text-justify: newspaper;
    font-size: medium;
    letter-spacing: 4px;

}

.card-locmap {
    background-color: aqua;
    justify-items: center;
    align-items: center;

}